{% extends "base/base.twig" %}

{% block headerlinks %}
    <link rel="stylesheet" href="vendor/@fancyapps/fancybox/jquery.fancybox.min.css">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="css/style.default.css" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="css/custom.css">
{% endblock %}

{% block nav %}
    {% include "base/navblog.twig" %}
{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="row">
            <!-- Latest Posts -->
            <main class="post blog-post col-lg-12">
                <div class="container">
                    <div class="post-single">
                        <div class="post-thumbnail mb-3"><img style="width: 100%;" src="{{ blog.image }}" alt="{{ blog.title }}" class="img-fluid"></div>
                        <div class="post-details">
                            <h1>{{ blog.title|title }}</h1>
                            <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                                    <div class="title"><span>Gemaakt door: {{ blog.first_name }} {{ blog.last_name }}</span></div>
                            </div> <br>
                            <div class="post-body">
                                <blockquote class="blockquote">
                                    <p>{{ blog.description }}</p>
                                </blockquote>
                            </div>
                            {#<div class="post-comments">#}
                                {#<header>#}
                                    {#<h3 class="h6">Post Comments<span class="no-of-comments">(3)</span></h3>#}
                                {#</header>#}
                                {#<div class="comment">#}
                                    {#<div class="comment-header d-flex justify-content-between">#}
                                        {#<div class="user d-flex align-items-center">#}
                                            {#<div class="image"><img src="img/user.svg" alt="..." class="img-fluid rounded-circle"></div>#}
                                            {#<div class="title"><strong>Jabi Hernandiz</strong><span class="date">May 2016</span></div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="comment-body">#}
                                        {#<p>comment</p>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="comment">#}
                                    {#<div class="comment-header d-flex justify-content-between">#}
                                        {#<div class="user d-flex align-items-center">#}
                                            {#<div class="title"><strong>Nikolas</strong><span class="date">May 2016</span></div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="comment-body">#}
                                        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>#}
                                    {#</div>#}
                                {#</div>#}
                                {#<div class="comment">#}
                                    {#<div class="comment-header d-flex justify-content-between">#}
                                        {#<div class="user d-flex align-items-center">#}
                                            {#<div class="image"><img src="img/user.svg" alt="..." class="img-fluid rounded-circle"></div>#}
                                            {#<div class="title"><strong>John Doe</strong><span class="date">May 2016</span></div>#}
                                        {#</div>#}
                                    {#</div>#}
                                    {#<div class="comment-body">#}
                                        {#<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>#}
                                    {#</div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="add-comment">#}
                                {#<header>#}
                                    {#<h3 class="h6">Leave a reply</h3>#}
                                {#</header>#}
                                {#<form action="#" class="commenting-form">#}
                                    {#<div class="row">#}
                                        {#<div class="form-group col-md-6">#}
                                            {#<input type="text" name="username" id="username" placeholder="Name" class="form-control">#}
                                        {#</div>#}
                                        {#<div class="form-group col-md-6">#}
                                            {#<input type="email" name="username" id="useremail" placeholder="Email Address (will not be published)" class="form-control">#}
                                        {#</div>#}
                                        {#<div class="form-group col-md-12">#}
                                            {#<textarea name="usercomment" id="usercomment" placeholder="Type your comment" class="form-control"></textarea>#}
                                        {#</div>#}
                                        {#<div class="form-group col-md-12">#}
                                            {#<button type="submit" class="btn btn-secondary">Submit Comment</button>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</form>#}
                            {#</div>#}
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}