<!-- Posts section -->
<div class="blog">
    <div class="container">
        <div class="row">

            {% for blog in blogs %}

            <div style="padding-bottom: 25px;" class="col-md-4 col-lg-4 col-sm-12">
                <div class="card">

                    <div class="card-img">
                        <img src="{{ blog.image }}" alt="{{ blog.title }}" class="img-fluid">
                    </div>

                    <div class="card-body">
                        <h4 class="card-title">{{ blog.title|title }}</h4>
                        <p class="card-text">
                            {{ blog.description|slice(0, 200) }}
                        </p>
                    </div>

                    <div class="card-footer">
                        <a href="blog/{{ blog.id }}" class="card-link">Lees meer</a>
                    </div>

                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>